.custom-card {
  background-color: #9AC5F4;
  color: white;
  /* background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(117,223,203,1) 0%, rgba(103,154,242,1) 100%); */
  margin: 1rem;
  min-height: 10rem;
  border-radius: 1rem;
  padding: 1rem;

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  
}

body {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer{
  margin-top: auto;
}

/* navbar */
.navbar-brand {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
}

/* To pull the content below the up */
#features {
  margin-top: -100px;
}

hr {
  border-color: #6b728e;
  border-style: dotted none none none;
  border-width: 5px;
  width: 10%;
  margin: 50px auto 50px auto;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 600px) {
  #features {
    margin-top: 0;
  }
}
