.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
  }

#features{
    margin-top: -100px;
}

hr
  {
    border-color:#6B728E;
    border-style: dotted none none none;
    border-width: 5px;
    width: 10%;
    margin: 50px auto 50px auto;
  }