<!-- inheriting the base template -->
{% extends 'base.html' %}

{% block title %}
    Heads
{% endblock title %}


{% block body %}
        
<style>
    .card-body {
        min-height: 200px;
    }
</style>

<div class="container">
    <div class="row mt-5">
        {% for dept,head in heads.items() %}
        <div class="col-sm-12 col-md-4 ">
           <div class="custom-card">
              <h4 style="color: black;">{{dept}}</h4> 
               <h5 style="padding-top: 1rem;">{{head}}</h5>
           </div>
        </div>
        {% endfor %}
    </div>
</div>




{% endblock body %} 