<!-- inheriting the base template -->
{% extends 'base.html' %} {% block title %} MIT CSE {% endblock title %}

<!-- index content -->
{% block body %}
<div class="d-flex flex-column h-100">
  <main class="flex-shrink-0">
    <!-- hero section -->
    <section id="hero">
      <header class="bg-primary pt-5">
        <div class="container px-5">
          <div class="row gx-5 align-items-center justify-content-center">
            <!-- AOS -->
            <div
              class="col-lg-8 col-xl-7 col-xxl-6"
              data-aos="fade-right"
              data-aos-delay="200"
              data-aos-duration="1000"
            >
              <div class="my-5 text-center text-xl-start">
                <h1 class="display-5 fw-bolder text-white mb-2">
                  Welcome to the official page for
                  <span class="text-warning">MIT CSE</span>
                </h1>
                <br />
                <p class="lead fw-normal text-white-50 mb-4">
                  Conference Journals Books and Book Chapters <br />
                  Patents and Phd
                </p>
                <br />
                <div
                  class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start"
                >
                  <a class="btn btn-outline-light btn-lg px-4" href="#features"
                    >Visit Apps</a
                  >
                </div>
              </div>
            </div>
            <div
              class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"
              data-aos="fade-left"
              data-aos-delay="200"
              data-aos-duration="1000"
            >
              <img
                class="img-fluid rounded-3 mt-5"
                src="../static/images/mit.jpeg"
                alt="..."
              />
            </div>
          </div>
        </div>
      </header>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#0d6efd"
          fill-opacity="1"
          d="M0,224L80,186.7C160,149,320,75,480,58.7C640,43,800,85,960,106.7C1120,128,1280,128,1360,128L1440,128L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"
        ></path>
      </svg>
    </section>
    <!-- hero section ends -->

    <section id="apps">
      <div class="container text-center">
        <div class="row justify-content-center">
          <div
            class="col-lg-4 col-sm-12 mt-4"
            style="display: flex; justify-content: center"
          >
            <div class="card align-items-center pt-3 app-card" style="width: 18rem">
              <img
                src="../static/images/il.png"
                class="card-img-top"
                alt="..."
                style="height: auto; width: 100px"
              />

              <div class="card-body">
                <h5 class="card-title">IL-IL translator</h5>
                <p class="card-text">
                  Indian language to Indian language Machine Translation
                </p>
                <a href="/il-il" class="btn btn-primary">Visit App</a>
              </div>
            </div>
          </div>
          <div
            class="col-lg-4 col-sm-12 mt-4"
            style="display: flex; justify-content: center"
          >
            <div
              class="card flex-column align-items-center pt-3 app-card"
              style="width: 18rem"
            >
              <img
                src="../static/images/dl.png"
                class="card-img-top"
                alt="..."
                style="height: auto; width: 100px"
              />

              <div class="card-body">
                <h5 class="card-title">Disco DL-DL MT</h5>
                <p class="card-text">
                  Discourse Integrated Dravidian Language to Dravidian Language
                  Machine Translation
                </p>
                <a href="/dl-dl" class="btn btn-primary">Visit App</a>
              </div>
            </div>
          </div>
          <div
            class="col-lg-4 col-sm-12 mt-4"
            style="display: flex; justify-content: center"
          >
            <div
              class="card flex-column align-items-center pt-3 app-card"
              style="width: 18rem"
            >
              <img
                src="../static/images/lipi.png"
                class="card-img-top"
                alt="..."
                style="height: auto; width: 100px"
              />

              <div class="card-body">
                <h5 class="card-title">Lipi Converter</h5>
                <p class="card-text">
                  Shreelipi to Unicode Converter (Kannada)
                </p>
                <a href="/lipiconverter" class="btn btn-primary">Visit App</a>
              </div>
            </div>
          </div>
          <div
            class="col-lg-4 col-sm-12 mt-4"
            style="display: flex; justify-content: center"
          >
            <div
              class="card flex-column align-items-center pt-3 app-card"
              style="width: 18rem"
            >
              <img
                src="../static/images/split.png"
                class="card-img-top"
                alt="..."
                style="height: auto; width: 100px"
              />

              <div class="card-body">
                <h5 class="card-title">Splitter</h5>
                <p class="card-text">Kannada Sandhi Splitter</p>
                <a href="/splitter" class="btn btn-primary">Visit App</a>
              </div>
            </div>
          </div>
          <div
            class="col-lg-4 col-sm-12 mt-4"
            style="display: flex; justify-content: center"
          >
            <div
              class="card flex-column align-items-center pt-3 app-card"
              style="width: 18rem"
            >
              <img
                src="../static/images/tamil.png"
                class="card-img-top"
                alt="..."
                style="height: auto; width: 100px"
              />

              <div class="card-body">
                <h5 class="card-title">V3-Tamil</h5>
                <p class="card-text">
                  Neural Machine Translation from Kannada to Tamil
                </p>
                <a href="/v3-tamil" class="btn btn-primary">Visit App</a>
              </div>
            </div>
          </div>

          <div
            class="col-lg-4 col-sm-12 mt-4"
            style="display: flex; justify-content: center"
          >
            <div
              class="card flex-column align-items-center pt-3 app-card"
              style="width: 18rem"
            >
              <img
                src="../static/images/hindi.png"
                class="card-img-top"
                alt="..."
                style="height: auto; width: 100px"
              />

              <div class="card-body">
                <h5 class="card-title">V3-Hindi</h5>
                <p class="card-text">
                  Neural Machine Translation from Kannada to Hindi
                </p>
                <a href="/v3-hindi" class="btn btn-primary">Visit App</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- section last -->
    <section id="last">
    <div
      class="d-flex align-items-center justify-content-center my-5"
      data-aos="zoom-in-up"
      data-aos-delay="100"
      data-aos-duration="600"
    >
      <button
        type="button"
        class="btn btn-outline-primary px-5"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        <h4>How to use the Website</h4>
      </button>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              To use the website
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body text-center">
            <p>
              You can navigate to the top of the website to find various
              categories. Select any of them to know about the field. You can
              also filter data according to the year to see information from the
              previouse academic years.
              <br>
              You can also <span class="text-primary">click</span> on any card to visit the particular app developed by the CSE department.
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <hr />

    <!-- Accordian -->
    <div
      class="container"
      data-aos="fade-up"
      data-aos-delay="200"
      data-aos-duration="700"
    >
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              What is this website built on ?
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              This website is built on HTML, CSS , Bootstrap and flask
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              Who developed this website ?
            </button>
          </h2>
          <div
            id="flush-collapseTwo"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              This website was built by Ayushman and Harry under the guidance of
              Mr. Ashwath Rao in the year 2023.
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr />
  </section>
  </main>
</div>

{% endblock body %}
