<section class="hero">


    <div class="container landing">
    
      <div class="hero row justify-content-center">
    
        <div class="col-8 text-center hero-blue" >
    
          <div class="row"
          data-aos="zoom-in-up"
          data-aos-duration="1000">
            <div class="col">
              <img class="hero-img" src="../static/images/search.png" alt="search=img">
              <img class="hero-img" src="../static/images/book.png" alt="">
            </div>
            
          </div>
    
          <div class="row"
          data-aos="zoom-in-down"
          data-aos-duration="1000">
            <div class="col">
              <img class="hero-img" src="../static/images/education.png" alt="">
              <img class="hero-img" src="../static/images/online-test.png" alt="">
    
            </div>
          </div>
         
        </div>
    
    
        <div class="col-4 text-center d-flex flex-column justify-content-center align-items-center" 
        data-aos="zoom-in-up"
        data-aos-duration="1000">
    
          <h2 class=" intro">
            Welcome to <br> the official page of <br>
            <span class="text-primary">MIT CSE</span>
          </h2>
    
          <p class="intro-p">
           <span class="text-secondary">Information about our departments </span>  <br>
            <span class="text-success">Conferences</span> , <span class="text-danger">Journals</span> <br>
            <span class="text-primary">Books and Book chapters </span>,<br>
            <span class="text-warning">Patents</span> and <span class="text-info">Phd</span>
          </p>
    
          <button type="button" class="btn btn-outline-primary btn-lg">
             <a href="#more"> Know More </a>
          </button>
    
    
    
        </div> 
    
      </div>
    
    </div>
    
    </section>
    <hr>
    
    <section class="mt-5" id="more">
    
      <div class="container">
       <!-- accordian -->
       <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Accordion Item #1
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              Accordion Item #2
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              Accordion Item #3
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
          </div>
        </div>
      </div>
      </div>
      
    </section>
    